* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.navbar {
   font-family: 'Inter', sans-serif;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 80px;
}

.navbar_list {
   display: flex;
   flex-grow: .25;
   list-style: none;
}

.navbar_list_item {
   margin-right: 2em;
}

.navbar_list_item_link {
   color: #667085;
   text-decoration: none;
   font-weight: 500;
}

.btn {
   cursor: pointer;
}

.btn-entrar {
   font-family: inherit;
   color: #667085;
   font-size: 1em;
   font-weight: 500;
   background-color: transparent;
   border: none;
}

.btn-cadastrar {
   font-family: inherit;
   color: #FFF;
   font-size: 1em;
   font-weight: 500;
   background-color: transparent;
   border: none;
   background-color: #8E2424;
   border-radius: 8px;
   padding: .625em 1.125em;
   margin-left: 30px;
}